
@*    -> ajouter un modele a la vue  *@
@model ArticleModel



@if (Model.Available)

{
    <h1>@Model.Title</h1>
    @Html.Raw(Model.Content);

}
else
{
    <p class="text-danger"> Impossible d'afficher cet article'</p>
}
