@using MyBlogInitiation.ViewModels

   @*
   Ca va typer l'objet Model
   Rendre le model obligatoire
   (dans le controleur on ne pourra pas faire return view) ??
   *@

@*On specifie le model a la vue*@
@model ArticlesViewModel

<h1> Liste des articles</h1>

<i>TODO:mettre la liste des articles</i>



<div class="allArticles">
    @foreach (var article in Model.Articles)
    {
        <div class="card" style="width: 18rem;">
            @*<img src="..." class="card-img-top" alt="...">*@
            <div class="card-body">
                <h5 class="card-title">@article.Title</h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary">Lire plus</a>
            </div>
        </div>
    }
</div>

