@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 id="MyCgu-H1">Les Conditions Generales d'utilisation'</h1>
<h2 id="MyCgu-H2" >
 Lorem Ipsum
</h2>
<div id="MyCgu-Text">
<p>Lorem Ipsum &quot;Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...<br/> '' &quot;Il n&#146;y a personne qui n&#146;aime la souffrance pour elle-m&ecirc;me, qui ne la recherche et qui ne la veuille pour elle-m&ecirc;me...&quot; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id aliquam tortor. Ut quis pharetra diam, vitae dignissim purus. Phasellus pretium placerat orci dapibus dapibus. Pellentesque porttitor blandit ante vitae fermentum. Morbi vulputate, erat non tristique consequat, mi sapien commodo lacus, at consectetur leo lorem eget elit. Mauris elementum tellus congue velit egestas, pretium euismod lorem pulvinar. Morbi dapibus iaculis risus nec bibendum. Phasellus id lobortis neque. Donec in convallis augue. Nulla porttitor magna non nisl volutpat semper.</p>

<p>Duis eget ligula sagittis, elementum dolor ac, sagittis nibh. Morbi ultricies, elit id tristique fringilla, magna nulla vehicula nulla, ut dictum nunc massa ut lectus. Phasellus ultrices aliquet enim euismod fermentum. Praesent velit arcu, porttitor quis augue vel, pulvinar malesuada augue. Donec id dictum risus. Integer tortor ligula, semper at rutrum id, tempus a ante. Donec vehicula vitae odio ac consequat. Suspendisse potenti. Donec ac consectetur arcu. Pellentesque ante nisl, consectetur vitae ligula vitae, tincidunt tempor massa.</p>

<p>Morbi aliquam arcu ullamcorper maximus venenatis. Aliquam nec semper tellus. Etiam vehicula eget tortor eu feugiat. Quisque lobortis sagittis nibh in commodo. Vivamus vitae est laoreet, accumsan justo non, condimentum nisl. Proin vulputate consequat neque, id dictum ex. Donec scelerisque lectus ipsum, et pretium nisl placerat eu. Pellentesque in diam nisi. Nulla ultrices dolor ut nisi fringilla ornare. Aliquam congue rutrum ante, ac tristique turpis placerat vitae. Sed imperdiet leo enim, sit amet malesuada augue dapibus vel. Suspendisse potenti. Fusce molestie pharetra urna, sed bibendum lacus ultricies in.</p>

<p>Duis et mollis tellus, et consectetur risus. Vestibulum sollicitudin elit vitae dignissim dapibus. Morbi sit amet fermentum metus, sit amet pharetra urna. Donec eget tristique felis, vitae posuere sapien. In venenatis, mauris id ullamcorper porttitor, dui felis finibus libero, id malesuada nunc elit non eros. Morbi ornare orci eu lacinia tempor. Proin felis erat, posuere et condimentum ut, tempus sit amet lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam a libero dui. Quisque mollis posuere est, id congue diam malesuada ut.</p>

<p>Quisque ut tortor at lacus mattis mattis. Duis ullamcorper aliquet dui at fringilla. Sed sit amet semper elit. Duis</p>
</div>